fastapi
uvicorn[standard]

python-multipart
aiofiles

pypdf

langchain
langchain-community
langchain-core
langgraph

sentence-transformers
transformers
torch

faiss-cpu

pymongo

python-dotenv

pydantic

numpy

scikit-learn

rank-bm25

httpx

jinja2